---
import Banner from '@/components/Banner.astro';
import Header from '@/components/common/header/Header.astro';
import DescriptionText from '@/components/DescriptionText.astro';
import OurServices from '@/components/our-service/OurServices.astro';
import Spacer from '@/components/Spacer.astro';
import OurWorkflowSection from '@/components/workflow/OurWorkflowSection.astro';

import { ACCEPTED_LOCALES } from '@/config/i18n';
import Layout, { type Props } from '@/layouts/Layout.astro';

export async function getStaticPaths() {
  return ACCEPTED_LOCALES.map((l) => {
    return { params: { locale: l } };
  });
}

const { locale } = Astro.params;

const metadata: Props['metadata'] = {
  title: 'Fusion Tower',
  description: 'Landing page for Fusion Tower project',
  lang: locale,
};
---

<Layout metadata={metadata}>
  <Header />
  <Banner />
  <DescriptionText />
  <OurServices />
  <OurWorkflowSection />


  <Spacer />
  <Spacer />
  <Spacer />
  <Spacer />
  <Spacer />
  <Spacer />
  <Spacer />
  <Spacer />
  <Spacer />
  <Spacer />
  <Spacer />
  <Spacer />
  <h3 class='text-white'>END PAGE</h3>
</Layout>;

