---
import { cn } from '@/helpers/cn';

type Props = {
  title: string;
  description: string;
  variant?: 'primary' | 'secondary' | 'tertiary';
  class?: string;
};

const { title, description, variant = 'primary', class: customClass } = Astro.props;
---

<article
  class={cn('bg-bg rounded-[20px] border border-border w-full h-[306px] overflow-hidden flex flex-col justify-between', customClass)}
>
  <!--  Card icon -->
  <div
    class='bg-primary-light size-10 rounded-lg flex justify-center items-center border border-border'
    class:list={{
      'text-secondary': variant === 'primary',
      'text-blue-dark': variant === 'secondary',
      'bg-green-light': variant === 'tertiary',
    }}
  >
    <slot name='icon' />
  </div>

  <!-- Card content -->
  <div>
    <h4 class='text-secondary font-medium text-xl mb-2'>
      {title}
    </h4>

    <p
      class='font-lexend-deca font-light text-base text-white text-ellipsis leading-6'
      title={description}
    >
      {description}
    </p>
  </div>
</article>

<style>
  article {
    padding: 26px 30px 20px 26px;
  }
</style>
