@import 'tailwindcss';

/* Titulo de los servicios */
@font-face {
  font-family: 'Lexend';
  src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}

/* Para titulos pequeños y largos */
@font-face {
  font-family: 'LexendDeca';
  src: url('/fonts/LexendDeca-VariableFont_wght.ttf')
    format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}

/* Para titulos grandes */
@font-face {
  font-family: 'LexendExa';
  src: url('/fonts/LexendExa-VariableFont_wght.ttf')
    format('truetype-variations');
  font-weight: 100 900;
  font-display: swap;
}

:root {
  --container-padding: 0 16px;
}

@theme {
  --font-sans: 'Lexend', 'sans-serif';
  --font-lexend: 'Lexend', sans-serif;
  --font-lexend-deca: 'LexendDeca', sans-serif;
  --font-lexend-exa: 'LexendExa', sans-serif;

  --bg-mesa: url('/images/background.png');

  --color-bg: #051a34;
  --color-primary: #051a34;
  --color-secondary: #37bedf;
  --color-text-secondary: #C7ECF6;
}

.container {
  padding: var(--container-padding);
  margin: 0 auto;
}

