---
import Button from '@/components/common/Button.astro';
import HeaderWrapper from '@/components/common/header/HeaderWrapper.tsx';

import WhatsappIcon from '@/assets/icons/whatsapp.svg';
import FusionTowerIcon from '@/assets/icons/LogoFusionTowerSmall.svg';
---

<HeaderWrapper client:load>
  <FusionTowerIcon width={254} height={50} />
  <div class='flex items-center gap-4'>
    <a
      href='https://wa.me/573186953119'
      target='_blank'
      rel='noopener noreferrer'
    >
      <WhatsappIcon />
    </a>
    <Button>Contáctanos</Button>
  </div>
</HeaderWrapper>
