---
import { getLangFromUrl, useTranslations } from '@/config/i18n';
import SectionContainer from './common/SectionContainer.astro';

const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
---

<SectionContainer id='banner' class='border banner'>
  <div class='px-4 sm:px-10'>
    <h1 class='text-[64px] text-secondary uppercase'>
      <div class='overflow-hidden'>
        <div class='title-text font-lexend-exa'>
          {t('banner.titulo.lineOne')}
        </div>
      </div>

      <div class='mb-6 sm:mb-14'>
        <div class='overflow-hidden'>
          <div class='title-text font-lexend-exa ml-[20%]'>
            {t('banner.titulo.lineTwo')}
          </div>
        </div>
      </div>

      <div class='overflow-hidden'>
        <div class='title-text text-text-secondary text-end mr-[20%]'>
          {t('banner.titulo.lineThree')}
        </div>
      </div>

      <div class='overflow-hidden'>
        <div class='title-text text-text-secondary text-end'>
          {t('banner.titulo.lineFour')}
        </div>
      </div>
    </h1>
  </div>
</SectionContainer>

<script>
  import { gsap } from 'gsap';

  const titleTl = gsap.timeline({});

  titleTl.to('.title-text', {
    y: '0%',
    duration: 1,
    ease: 'power2.out',
    // stagger: 0.3,
  });
</script>

<style>
  .title-text {
    @apply will-change-transform motion-safe:translate-y-full;
  }
</style>
