---
import { getLangFromUrl, useTranslations } from '@/config/i18n';
import SectionContainer from './common/SectionContainer.astro';
import Atom3DModel from './Atom3dModel.astro';

const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
---

<SectionContainer id='banner' class='banner' containerClass='relative'>
  <div class='px-4 sm:px-10 relative z-10 pointer-events-none'>
    <h1 class='text-[64px] text-secondary uppercase relative'>
      <div class='overflow-hidden'>
        <div class='title-text font-lexend-exa'>
          {t('banner.titulo.lineOne')}
        </div>
      </div>

      <div class='mb-6 sm:mb-14'>
        <div class='overflow-hidden'>
          <div class='title-text font-lexend-exa ml-[20%]'>
            {t('banner.titulo.lineTwo')}
          </div>
        </div>
      </div>

      <div class='overflow-hidden'>
        <div class='title-text text-text-secondary text-end mr-[20%]'>
          {t('banner.titulo.lineThree')}
        </div>
      </div>

      <div class='overflow-hidden'>
        <div class='title-text text-text-secondary text-end'>
          {t('banner.titulo.lineFour')}
        </div>
      </div>
    </h1>
  </div>

  <div
    slot='atom'
    id='atom-container'
    class='w-full h-full absolute top-0 left-0 flex justify-center'
  >
    <Atom3DModel />
  </div>
</SectionContainer>

<script>
  import { gsap } from 'gsap';

  const titleTl = gsap.timeline({});

  titleTl.to('.title-text', {
    y: '0%',
    duration: 1,
    ease: 'power2.out',
    // stagger: 0.3,
  });

  titleTl.fromTo(
    '#atom-container',
    { transform: 'scale(0.5)', opacity: 0 },
    { transform: 'scale(1)', opacity: 1, ease: 'sine.in', duration: 1 }
  );
</script>

<style>
  .title-text {
    @apply will-change-transform motion-safe:translate-y-full;
  }
</style>
