---
import { getLangFromUrl, useTranslations } from '@/config/i18n';
import SectionContainer from './common/SectionContainer.astro';
import Atom3DModel from './Atom3dModel.astro';

const lang = getLangFromUrl(Astro.url);

const t = useTranslations(lang);
---

<SectionContainer id='banner' class='banner relative' containerClass='relative'>
  <div class='px-4 sm:px-10 relative z-10 pointer-events-none'>
    <h1 class='text-[64px] text-secondary uppercase relative'>
      <div class='overflow-hidden'>
        <div class='title-text font-lexend-exa'>
          {t('banner.titulo.lineOne')}
        </div>
      </div>

      <div class='mb-6 sm:mb-14'>
        <div class='overflow-hidden'>
          <div class='title-text font-lexend-exa ml-[20%]'>
            {t('banner.titulo.lineTwo')}
          </div>
        </div>
      </div>

      <div class='overflow-hidden'>
        <div class='title-text text-text-secondary text-end mr-[20%]'>
          {t('banner.titulo.lineThree')}
        </div>
      </div>

      <div class='overflow-hidden'>
        <div class='title-text text-text-secondary text-end'>
          {t('banner.titulo.lineFour')}
        </div>
      </div>
    </h1>
  </div>

  <div
    slot='atom'
    id='atom-container'
    class='w-full min-h-[600px] absolute top-12 left-0 flex justify-center'
  >
    <Atom3DModel />
  </div>
</SectionContainer>

<script>
  import { gsap } from 'gsap';

  // Al entrar en la página: reiniciar animación
  const runAnimation = () => {
    // RESET: aseguramos que empieza oculta
    gsap.set('.title-text', { y: '100%' });
    gsap.set('#atom-container', { scale: 0.5, opacity: 0 });

    const titleTl = gsap.timeline({});

    titleTl.to('.title-text', {
      y: '0%',
      duration: 1,
      ease: 'power2.out',
    });

    titleTl.fromTo(
      '#atom-container',
      { scale: 0.5, opacity: 0 },
      { scale: 1, opacity: 1, ease: 'sine.in', duration: 1 },
      '-=0.6'
    );
  };

  // Ejecutar animación cuando la página carga
  runAnimation();

  // Si usas navegación parcial (View Transitions / client router),
  // forzar re-ejecución cada vez que vuelves a esta página.
  document.addEventListener('astro:after-swap', runAnimation);
</script>

<style>
  .title-text {
    @apply will-change-transform motion-safe:translate-y-full;
  }
</style>
