---
import { cn } from '@/helpers/cn';

type Props = {
  class?: string;
  containerClass?: string;
  id?: string;
};

const { class: className = '', id = '', containerClass = '' } = Astro.props;
---

<section
  class={cn(
    'section-container min-h-svh relative w-full flex items-center',
    className
  )}
  id={id}
>
  <div class={cn('container', containerClass)}>
    <slot />
  </div>
</section>

<style>
  .banner {
    background-image: var(--bg-mesa),
      linear-gradient(259.77deg, var(--color-bg) 6.25%, #104c9a 92.04%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
  }
</style>
