---
import { cn } from '@/helpers/cn';

type Props = {
  class?: string;
  containerClass?: string;
  id?: string;
  idContainer?: string;
};

const {
  class: className = '',
  id = '',
  containerClass = '',
  idContainer = '',
} = Astro.props;
---

<section
  class={cn(
    'section-container h-svh relative w-full flex items-center',
    className
  )}
  id={id}
>
  <div class={cn('container', containerClass)} id={idContainer}>
    <slot />

    <!-- optinal slop Atom -->
    {Astro.slots.atom ? <slot name='atom' /> : null}
  </div>
</section>

<style>
  .banner {
    background-image: var(--bg-mesa), var(--banner-gradient);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
  }
</style>
