---
import { ClientRouter } from 'astro:transitions';
import '../styles/global.css';

export type Props = {
  metadata: {
    title: string;
    description: string;
    lang: string;
  };
};

const { metadata } = Astro.props;
---

<!doctype html>
<html lang={metadata.lang}>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{metadata.title}</title>
    <meta name='description' content={metadata.description} />
    <ClientRouter />
  </head>
  <body class='antialiased font-sans min-h-svh bg-primary'>
    <slot />
  </body>
</html>
